<h2>Services</h2>
<ul>
	{{#if content.isLoading}}
		loading...
	{{else}}
	    {{#each item in content}}
	        <li>
	        	<p>{{item.name}}</p>
	        	<ul>
		        	{{#each version in item.versions}}
		        		<li>{{version.major}}.{{version.minor}}.{{version.revision}}</li>
		        	{{/each}}
	        	</ul>
	        </li>
	    {{/each}}
    {{/if}}
</ul>
